html,body{
    margin: auto;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    max-width: 1440px;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    position: relative;
    text-decoration: none;
    color: inherit;
}
ul{
    list-style: none;
}
img{
    width: 100%;
    height: 100%;
}
.container{
    width: 100%;
    max-width: 1440px; 
    margin: 0 auto;
    padding: 0 5.5%;
}
.header{
    display: flex;
    height: 60px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.08);
}
.header-inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}
.icon{
    display: flex;
}
.search-box{
    display: flex;  
    justify-content: space-around;
    width: 30%;
    height: 65%;
    margin-left: 20%;
    align-items: center;
    border: 1px solid #DADCE0;
    border-radius: 30px;
}
.search-input{
    border: 0;
    outline: 0;
    width: 75%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
::placeholder{
    color: #BBBBBB;
    opacity: 1;
}
.signin-btn{
    font-weight: bold;
    color: #3278C3;
}
.main{
    display: flex;
    flex-direction: column;
}
.section{
    display: flex;
}
.section-hot-film{
    height: 592px;
    position: relative;
}
.section-content{
    display: flex;
    align-items: center;
    height: 100%;
    padding: 60px 0;
}
.film-list{
    display: grid;
    grid-template-columns:  69% 31%;
    /* grid-template-columns: 2fr 1fr; */
    grid-row-gap: 30px;
    padding: 0;
    margin: 0;
    /* height: 100%; */
    width: 100%;
}
.film-item{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}
.film-item:first-child{
    align-items: center;
    max-width: 840px;
    position: relative;
    grid-row: 1/5;
}
.img{
    display: flex;
}
.banner-info{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 21%;
    width: 100%;
    padding: 0 42px;
    position: absolute;
    background: rgba(0, 0, 0, 0.7);
}
.banner-title{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: 2.5em;
    line-height: 40px;
    height: fit-content;
    color: #FFFFFF;
}
.banner-desc{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: 1.125em;
    line-height: 21px;
    height: fit-content;
    color: #FFFFFF;
}
.film-info{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0;
    height: 100%;
    width: 65%;
}
.film-title{
    font-weight: bold;
    line-height: 120%;
    color: #3278C3;
}
.film-desc{
    line-height: 150%;
}
.section-featured{
    height: 50%;
    background-color: #E2EEFF;
}
.featured-content{
    display: flex;
    flex-direction: column;
    height: 100%;
}
.section-featured .section-title{
    height: 18.5%;
    display: flex;
    align-items: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: 30px;
    color: #3278C3;
}
.featured-list{
    display: flex;
    justify-content: space-between;
    height: 53.5%;
    padding: 0;
    margin: 0;
}
.featured-item{
    height: 100%;
    width: 22.6%;
}
.featured-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 37.8%;
    padding: 7% 7%;
    font-weight: bold;
    font-size: 18px;
    line-height: 120%;
    color: #3278C3;
    background-color: #fff;
}
.time{
    display: flex;
    align-items: center;
    line-height: 170%;
    color: #B5B5B5;
    font-weight: normal;
}
.icon-clock{
    height: fit-content;
    margin-right: 10px;
}
@media (max-width: 600px){
    .header{
        height: 50px;
    }
    .search-box{
        margin-left: 0 !important;
        height: 40% !important;
        width: 120px;
    }
    .logo-icon{
        width: 80px;
    }
    .search-icon{
        width: 15px;
    }
    .search-input{
        height: 15px;
        width: 50px;
    }
}
@media (max-width: 1024px){
    .film-list{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .film-item{
        display: none;
    }
    .film-item:first-child{
        display: block;
    }
}
@media (max-width: 1400px){
    body{
        font-size: calc(0.8*16px);
    }
    .film-img{
        width: 30.9%;
    }
    .banner-img{
        width: 95%;
        height: 100%;
    }
    .section-hot-film{
        height: calc(0.9*592px);
    }
}