html,body{
    margin: auto;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    max-width: 1440px;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    position: relative;
    text-decoration: none;
    color: inherit;
}
ul{
    list-style: none;
}
img{
    width: 100%;
    height: 100%;
}
.icon,.img{
    display: flex;
}
.container{
    width: 100%;
    max-width: 1440px; 
    margin: 0 auto;
    padding: 0 5.5%;
}
.header{
    display: flex;
    height: 60px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.08);
}
.header-inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}
.search-box{
    display: flex;  
    justify-content: space-around;
    width: 30%;
    height: 65%;
    margin-left: 20%;
    align-items: center;
    border: 1px solid #DADCE0;
    border-radius: 30px;
}
.search-input{
    border: 0;
    outline: 0;
    width: 75%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
::placeholder{
    color: #BBBBBB;
    opacity: 1;
}
.signin-btn{
    font-weight: bold;
    color: #3278C3;
}
.main{
    display: flex;
    flex-direction: column;
}
.section{
    display: flex;
}
.section-today-film{
    height: 592px;
}
.section-content{
    display: flex;
    align-items: center;
    height: 100%;
}
.film-list{
    display: grid;
    grid-template-columns:  69% 31%;
    grid-gap: 30px;
    width: 100%;
}
.film-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.film-item:first-child{
    width: fit-content;
    grid-row: 1/5;
}
.banner-info{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 21%;
    padding: 0 42px;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    background: rgba(0, 0, 0, 0.7);
}
.banner-title{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: 2.5em;
    color: #FFFFFF;
}
.banner-desc{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: 1.125em;
    color: #FFFFFF;
}
.film-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 65%;
}
.film-title{
    font-weight: bold;
    font-size: 1.125em;
    line-height: 120%;
    color: #3278C3;
}
.film-desc{
    line-height: 150%;
}
.section-featured{
    height: 598px;
    background-color: #E2EEFF;
}
.featured-content{
    display: flex;
    flex-direction: column;
    height: 100%;
}
.section-featured .section-title{
    height: 18.5%;
    display: flex;
    align-items: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: 1.875em;
    color: #3278C3;
}
.featured-list{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 53.5%;
    padding: 0;
    margin: 0;
}
.featured-item{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 22.6%;
}
.featured-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    padding: 7% 7%;
    background-color: #fff;
}
.featured-desc{
    font-weight: bold;
    font-size: 1.125em;
    line-height: 120%;
    color: #3278C3;
}
.time{
    display: flex;
    align-items: center;
    line-height: 170%;
    color: #B5B5B5;
    font-weight: normal;
}
.clock-icon{
    margin-right: 10px;
}
.featured-bottom{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}
.see-all-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 296px;
    height: 46px;
    background: #FF7F0E;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    font-weight: bold;
    line-height: 170%;
    color: #FFFFFF;
}
.footer{
    display: flex;
    flex-direction: column;
    height: 378px;
}
.social{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 140px;
}
.social-list{
    display: flex;
    justify-content: space-between;
}
.social-item{
    padding: 0 20px;
}
.submenu{
    display: flex;
    justify-content: center;
}
.submenu-list{
    display: flex;
    justify-content: space-between;
}
.submenu-item{
    padding: 0 25px;
}
.submenu-text{
    font-weight: 600;
    line-height: 150%;
    color: #6C6C6C;
}
.footer-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 143px;
    border-bottom: 1px solid #B8B8B8;
}
.footer-copy-right{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}
.copy-right-text{
    font-size: 0.875em;
    line-height: 170%;
    color: #B5B5B5;
}
@media (max-width: 375px) {
    ::placeholder{
        font-size: 10px;
    }
    .film-list{
        display: flex;
        justify-content: center;
        align-items: center;
    } 
    .section-today-film{
        height: 350px;
    }
    .film-item{
        display: none;
    }
    .film-item:first-child{
        display: block;
    }
    .header{
        height: 40px !important;
    }
    .logo-icon{
        width: 60px !important;
    }
    .search-icon{
        width: 15px;
    }
    .search-box{
        margin-left: 0;
        height: 40%;
        width: 100px !important;
    }
    .search-input{
        height: 12px;
        width: 60px;
    }
    .section-today-film{
        height: 220px !important;
    }
    .section-featured{
        height: 180px !important;
    }
    .featured-info{
        height: 50px;
    }
    /* .featured-desc{
        font-size: 0;
    } */
    .featured-list{
        height: 100px !important;
    }
    .clock-icon{
        width: 8px !important;
        margin-right: 3px;
    }
    .footer{
        height: 150px;
    }
    .social{
        height: 80px;
    }
    .see-all-btn{
        width: 80px;
        height: 15px;
    }
    .social-img{
        width: 10px;
    }
    .submenu-item{
        padding: 0 10px;
    }
}
@media (max-width: 600px) and (min-width: 375px){
    body{
        font-size: 6px;
    }
    .film-list{
        display: flex;
        justify-content: center;
        align-items: center;
    } 
    .section-today-film{
        height: 350px;
    }
    .film-item{
        display: none;
    }
    .film-item:first-child{
        display: block;
    }
    .logo-icon{
        width: 80px;
    }
    .search-icon{
        width: 15px;
    }
    .search-box{
        margin-left: 0;
        height: 40%;
        width: 120px;
    }
    .section-featured{
        height: 200px;
    }
    .featured-list{
        height: 130px;
    }
    .footer{
        height: 150px;
    }
    .social{
        height: 80px;
    }
    .see-all-btn{
        width: 80px;
        height: 15px;
    }
    .social-img{
        width: 10px;
    }
}
@media (max-width: 700px) and (min-width: 600px){
    body{
        font-size: 8px;
    }
    .header{
        height: 50px;
    }
    .search-box{
        margin-left: 0;
        height: 40%;
        width: 120px;
    }
    .logo-icon{
        width: 80px;
    }
    .search-icon{
        width: 15px;
    }
    .search-input{
        height: 15px;
        width: 50px;
    }
    .film-list{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .film-item{
        display: none;
    }
    .film-item:first-child{
        display: block;
    }
    .banner-info{
        padding: 0 20px;
    }
    .section-today-film{
        height: 380px;
    }
    .section-featured{
        height: 300px;
    }
    .footer{
        height: 200px;
    }
    .social{
        height: 80px;
    }
    .social-img{
        width: 15px;
    }
    .submenu-item{
        padding: 0 15px;
    }
    .see-all-btn{
        width: 100px;
        height: 20px;
    }
}
@media (max-width: 1020px) and (min-width: 700px){
    body{
        font-size: 10px;
    }
    .film-list{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .film-item{
        display: none;
    }
    .film-item:first-child{
        display: block;
    }
    .section-today-film{
        height: 500px;
    }
    .section-featured{
        height: 420px;
    }
    .see-all-btn{
        width: 200px;
        height: 35px;
    }
    .footer{
        height: 300px;
    }
    .social{
        height: 110px;
    }
    .footer-logo{
        height: 110px;
    }
}
@media (max-width: 1400px) and (min-width: 1020px){
    body{
        font-size: 12px;
    }
    .container{
        padding: 0 3%;
    }
    .film-list{
        grid-template-columns:  65% 35%;
        grid-gap: 20px;
    }
    .film-img{
        width: 110px;
    }
    .banner-img{
        height: 100%;
    }
    .section-today-film{
        height: 480px;
    }
    .section-featured{
        height: 480px;
    }
}